body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #444;
}

.controls {
    width: 100%; 
    overflow: hidden;
}

.left {
    width: 600px; 
    float: left;
}

.container {
    max-width: 90%; 
    margin-top: 200px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 25px;
    margin-right: 20px;
}
input {
    margin-right: 30px;
}

.tab {
    overflow: hidden;
    border: none;
    background-color: rgb(223, 227, 243);
}
  
.tab button {
    background-color: rgb(187, 193, 218);
    float: left;
    border: none;
    padding: 15px 20px;
}
  
.tab button:hover {
    background-color: rgb(164, 171, 199);
}
  
.tab button.active {
    background-color: rgb(118, 133, 165)
}
  
.tabcontent {
    display: none;
    padding: 15px 20px;
    border: none;
    animation: fade 0.5s;
  }
  
  @keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
  }